<html>
    <head>
        <title> Midterm</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1> Login Form </h1>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="psswd">Password:</label><br>
            <input type="text" id="psswd" name="psswd"><br>
            <br>
            <button class="button1">Login</button>
            <button class="button2">Register</button>
        </form>
    </body>
</html>